{% extends "base.html" %}
{% block title %}Edit post page{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row">
    <!-- Left sidebar -->
    <!-- load the sidebar here -->
    {% include "dashboard/sidebar.html" %}

    <!-- Right side content -->
    <div class="col-md-9">
        <h2>Edit Post</h2>
        <form action="{% url 'edit_post' post.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy}}
            <button type="submit" class="btn btn-warning">Submit</button>
            <a href="{% url 'posts' %}" class = "btn btn-danger">Back</a>
        </form>
        <br>
    </div>
</div>
{% endblock %}